body {
	padding: 0;
	margin: 0;
	color: #5f5f5f;
	background-color: #f3ece2;
}

.wrap {
	max-width: 1000px;
	margin: 30px auto;
	width: 70%;
	height: auto;
	font-size: 16px;
	border: 2px solid #efefef;
	padding: 10px 15px;
	border-radius: 10px;
	position: relative;
	background-color: #fff;
}

.intro-wrap {
	background-color: #efefef;
	border-bottom: 1px solid #efefef;
	border-radius: 10px 10px 5px 5px;
	padding: 0px 0px 0 20px;
	position: absolute;
	width: 98%;
	top: -1px;
	left: 0;
	right: 0;
}

.intro-wrap h1 {
	font-size: 21px;
}

.answer-wrap {
	margin-top: 60px;
}

.input {
	font-weight: bold;
	margin: 10px 0;
}

.answer {
	margin: 0 15px;
	border-bottom: 2px solid #efefef;
	width: 90%;
	padding-bottom: 10px;
}

.ans-table table {
  	border-bottom: 1px solid #a7a7a7;
  	border-top: 1px solid #a7a7a7;
 	width: 80%;
  	border-collapse: collapse;
  	padding: 10px 5px;
}

.ans-table th, 
.ans-table td{
  	border-bottom: 1px solid #a7a7a7;
  	border-top: 1px solid #a7a7a7;
  	padding: 10px 15px;
}

.ans-table tr:nth-child(even) {
	background-color: #efefef;
}

.ans-list ul {
	list-style-type: none;
}

.ans-list li {
	margin: 10px 0;
}
